<footer class="footer py-3 text-center background2">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @ 2024 Copyright : <span>Shivam Choudhary</span>
            </div>
        </div>
    </div>
</footer>