<nav class="navbar  navbar-expand-lg bg-body-tertiary  " style="font-size: large;">
  <div class="container border-bottom ">
    <a class="navbar-brand" href="#">
      <img src="{{data1.brandIconUrl}}" style="height:40px; width:45px padding-right:2px"  alt="">{{data1.brandName}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         
           {{#each data1.links}}
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="{{this.Url}}">{{this.label}}</a>
        </li>

        {{/each}}
        
         </ul> 
      
    </div>
  </div>
</nav>